body {
  background: #eeeeee;
}

.App {
  margin: 20px;
}

.preloader {
  margin: 100px 0;
  text-align: center;
  opacity: 0.55;
  font-size: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2%;
}

.col {
  width: 23%;
}

@media(max-width: 1000px) {
  .col {
    width: 48%;
  }
}

@media(max-width: 700px) {
  .col {
    width: 100%;
  }
}